<html>
<mat-card class="home mat-elevativion-z3">
  <mat-card-title class="title">Informações Gerais</mat-card-title>
  <form class='form'>
    <label class="nome">Nome:</label>
    <div>
<input class='input'>
    </div>
    <div class='tudo'>
    <div class='esquerda'>
<div class='cargo'>Cargo pretendido:</div>
<input class='inputc'>
</div>
    <div class='direita'>
      <div class='foto'>Foto
        <button (click)="Enviar()">Enviar Arquivo</button>
      </div>
      <input class='inputf'>
    </div>
  </div>
  <label class='endereço'>Endereço:</label>
  <div>
<input class='inputed'>
  </div>
  <div class='tudo1'>
  <div class='esquerda1'>
<div class='telefone'>Telefone:</div>
<input class='inputtel'>
</div>
  <div class='direita1'>
    <div class='email'>E-mail:</div>
    <input class='inputem'>
  </div>
</div>
<div class='resumo'>Resumo:</div>
<input class='inputres'>
  </form>
</mat-card>
</html>
