.home {
  margin: 20px;
}
.home .title {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.2;
}
.home .form{
  padding: .5rem .25rem;
}
.home .nome {
  font-size: 1.3rem;
  margin: .5rem;
}
.home .input {
  width: 98%;
  margin: .5rem;
  padding: .5rem .75rem;
  display: flexbox;

}
.home .tudo{
  width: 100%;
  text-align: center;
  margin: .5rem ;
}
.home .esquerda {
  width: 50%;
  text-align: start;
  display: inline-block;
}
.home .cargo {
width: 100%;
font-size: 1.3rem;
text-align: start;
margin-top: .5rem;
margin-bottom: .5rem;
}
.home .inputc {
  width: 95%;
  text-align: start;
  padding: .5rem .5rem;
  margin-top: .5rem;
margin-bottom: .5rem;
}
.home .direita{
  width: 50%;
  text-align: start;
  display: inline-block;
}
.home .foto {
  width: 100%;
  font-size: 1.3rem;
  text-align: start;
  margin-top: .5rem;
margin-bottom: .5rem;
}
.home .inputf {
  width: 98%;
  display: inline-block;
  text-align: start;
  padding: .5rem .25rem;
  margin-top: .5rem;
margin-bottom: .5rem;
}
.home .endereço {
  font-size: 1.3rem;
  margin: .5rem;
}
.home .inputed {
  width: 98%;
  padding: .5rem .75rem;
  margin: .5rem;
  display: flexbox;
}
.home .tudo1 {
  width: 100%;
  text-align: center;
  margin: 1rem;
}
.home .esquerda1 {
  width: 50%;
  text-align: start;
  display: inline-block;
}
.home .telefone {
width: 100%;
font-size: 1.3rem;
text-align: start;
margin-top: .5rem;
margin-bottom: .5rem;
}
.home .inputtel {
  width: 95%;
  text-align: start;
  padding: .5rem .25rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
}
.home .direita1 {
  width: 50%;
  text-align: start;
  display: inline-block;
}
.home .email {
  width: 100%;
  font-size: 1.3rem;
  text-align: start;
  margin-top: .5rem;
margin-bottom: .5rem;
}
.home .inputem {
  width: 97%;
  display: inline-block;
  text-align: start;
  padding: .5rem .25rem;
  margin-top: .5rem;
margin-bottom: .5rem;

}
.home .resumo {
  font-size: 1.3rem;
  margin: 1rem;
}
.home .inputres {
  width: 99%;
  display: flexbox;
  padding: 1.5rem .5rem
}

.home .formação {
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
 .home .addfor{
  font-size: 1rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
}
.home .botão {
margin-top: .5rem;
margin-bottom: .5rem;
}
