<mat-card class="home mat-elevativion-z3">
  <mat-card-title class="title">Inorfomações Gerais</mat-card-title>
  <form>
    <label class="nome">Nome:</label>
    <div>
<input class='input'>
    </div>
    <div class='row'>
<div class='cargo'>Cargo pretendido</div>
<div class='foto'>Foto</div>
    </div>
    <div class='col'>
      <input class='inputc'>
      <input class='inputf'>
    </div>
    <label class='endereço'>Endereço</label>
    <div>
<input class='inputed'>
    </div>
    <div class='row2'>
<div class='telefone'>Telefone</div>
<div class='email'>E-mail</div>
    </div>
    <div class='col2'>
      <input class='inputte'>
      <input class='inputem'>
    </div>
    <div>
      <label class='resumo'>Resumo</label>
    <div>
<input class='inputres'>
    </div>
    </div>

  </form>
</mat-card>
