.home {
  margin: 20px;
}
.home .title {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.2;
}
.home .form{
  padding: .5rem .25rem;
}
.home .nome {
  font-size: 1.3rem;
  margin: .5rem;
}
.home .input {
  width: 98%;
  margin: .5rem;
  padding: .5rem .75rem;
  display: flexbox;

}
.home .tudo{
  width: 100%;
  text-align: center;
  margin: .5rem ;
}
.home .esquerda {
  width: 50%;
  text-align: start;
  display: inline-block;
}
.home .cargo {
width: 100%;
font-size: 1.3rem;
text-align: start;
margin-top: .5rem;
margin-bottom: .5rem;
}
.home .inputc {
  width: 95%;
  text-align: start;
  padding: .5rem .5rem;
  margin-top: .5rem;
margin-bottom: .5rem;
}
.home .direita{
  width: 50%;
  text-align: start;
  display: inline-block;
}
.home .foto {
  width: 100%;
  font-size: 1.3rem;
  text-align: start;
  margin-top: .5rem;
margin-bottom: .5rem;
}
.home .inputf {
  width: 98%;
  display: inline-block;
  text-align: start;
  padding: .5rem .25rem;
  margin-top: .5rem;
margin-bottom: .5rem;
}
.home .endereço {
  font-size: 1.3rem;
  margin: .5rem;
}
.home .inputed {
  width: 98%;
  padding: .5rem .75rem;
  margin: .5rem;
  display: flexbox;
}
.home .tudo1 {
  width: 100%;
  text-align: center;
  margin: 1rem;
}
.home .esquerda1 {
  width: 50%;
  text-align: start;
  display: inline-block;
}
.home .telefone {
width: 100%;
font-size: 1.3rem;
text-align: start;
margin-top: .5rem;
margin-bottom: .5rem;
}
.home .inputtel {
  width: 95%;
  text-align: start;
  padding: .5rem .25rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
}
.home .direita1 {
  width: 50%;
  text-align: start;
  display: inline-block;
}
.home .email {
  width: 100%;
  font-size: 1.3rem;
  text-align: start;
  margin-top: .5rem;
margin-bottom: .5rem;
}
.home .inputem {
  width: 97%;
  display: inline-block;
  text-align: start;
  padding: .5rem .25rem;
  margin-top: .5rem;
margin-bottom: .5rem;

}
.home .submit {
  text-align:justify;
  margin-left: 51%;
}
.home .resumo {
  font-size: 1.3rem;
  margin: 1rem;
}
.home .inputres {
  width: 99%;
  display: flexbox;
  padding: 1.5rem .5rem;
  text-align: start;
  text-rendering: auto;
  letter-spacing:normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  appearance: auto;
  flex-direction: column;
  cursor: text;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  column-count: initial;
  font: italic;
  resize:horizontal;
}

.home .formação {
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
 .home .addfor{
  font-size: 1rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
}
.home .botão {
margin-top: .5rem;
margin-bottom: .5rem;
}
.home .tudo2 {
  width: 100%;
  text-align: center;
}
.home .esquerda2 {
  width: 50%;
  text-align: start;
  display: inline-block;
  margin-left: 0rem;
}
.home .curso{
  font-size: 1.5rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
}
.home .inputcur {
  width: 95%;
  text-align: start;
  padding: .5rem .25rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
}
.home .direita2 {
  width: 50%;
  text-align: start;
  display: inline-block;
  margin-left: 0rem;
}
.home .instituição {
  font-size: 1.5rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
}
.home .inputinst {
  width: 95%;
  text-align: start;
  padding: .5rem .25rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
}
.home .esquerda3 {
  width: 50%;
  text-align: start;
  display: inline-flexbox;
  margin-left: 0rem;
}
.home .conclusão {
  font-size: 1.5rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
}
.home .inputcon {
  width: 95%;
  text-align: start;
  padding: .5rem .25rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
}
.home .remover {
  font-size: 1rem;
  background-color: red;
  border-color: red;
}
.home .tudo3 {
  width: 100%;
  text-align: center;
}
.home .esquerda4 {
  width: 50%;
  text-align: start;
  display: inline-block;
  margin-left: 0rem;
}
.home .cargo {
  font-size: 1.5rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
}
.home .inputcar {
  width: 95%;
  text-align: start;
  padding: .5rem .25rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
}
.home .direita3 {
  width: 50%;
  text-align: start;
  display: inline-block;
  margin-left: 0rem;
}
.home .empresa {
  font-size: 1.5rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
}
.home .inputemp {
  width: 95%;
  text-align: start;
  padding: .5rem .25rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
}
.home .esquerda5 {
  width: 50%;
  text-align: start;
  display: inline-block;
  margin-left: 0rem;
}
.home .descrição{
  font-size: 1.5rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
}
.home .inputdesc {
  width: 95%;
  text-align: start;
  padding: .5rem .25rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
}
.home .direita4 {
  width: 25%;
  text-align: start;
  display: inline-block;
  margin-left: 0rem;
}
.home .inicio {
  font-size: 1.5rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
}
.home .inputini {
  width: 80%;
  text-align: start;
  padding: .5rem .25rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
}
.home .direita5 {
  width: 25%;
  text-align: start;
  display: inline-block;
  margin-left: 0rem;
}
.home .fim {
  font-size: 1.5rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
}
.home .inputfim {
  width: 80%;
  text-align: start;
  padding: .5rem .25rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
}
