<html>
<mat-card  class="home mat-elevativion-z3">
  <mat-card class="title">Informações Gerais</mat-card>
  <form class='form'>
    <label class="nome">Nome:</label>
    <div>
<input class='input'>
    </div>
    <div class='tudo'>
    <div class='esquerda'>
<div class='cargo'>Cargo pretendido:</div>
<input class='inputc'>
</div>
 <div div class='direita'>
      <div class='foto'>Foto
        <button (click)="Enviar()">Enviar Arquivo</button>
      </div>
      <input class='inputf'>
    </div>
  </div>
  <label class='endereço'>Endereço:</label>
  <div>
<input class='inputed'>
  </div>
    <div class='tudo1'>
  <div class='esquerda1'>
<label class='telefone'>Telefone:</label>
<input type="text" matInput mask="(00) 00000-0000" class='inputtel'>
</div>
  <div class='direita1'>
    <div class='email'>E-mail:</div>
    <input pattern="/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" required class='inputem' />
   </div>
   <div class ='submit'><input type="submit" value="Checar"></div>
</div>
<div class='resumo'>Resumo:</div>
<input class='inputres'>
<br>
<div class='formação'>Formação</div>
  <div class='addfor'>Clique em "Adicionar +" para add mais de uma formação</div>
  <div class='botãofor'>
<button (click)='adicinarfor()'>Adiconar +</button>
  </div>
<br>
  <ul>
    <div *ngFor="let form of formac" class='tudo2 '>
      <div class='esquerda2'>
    <div class='curso'>Curso</div>
    <div><input class='inputcur'></div>
  </div>
     <div class='direita2'>
       <div class='instituição'>Instituição</div>
     <div><input class='inputinst'></div>
    </div>
    <br>
    <div class=esquerda3>
    <div class='conclusão'>Conclusão</div>
       <div><input type='text' matInput mask=" d0/M0/0000" class='inputcon' ></div>
       <br>
        <div><button (click)='removerfor()' class='remover'>Remover:</button></div>
      </div>
    </div>
  </ul>
  <br>
  <div class='experiencia'>Expêrincias</div>
  <div class='addexp'>Clique em "Adiconar Expêriencia" para add mais de uma Expêriencia</div>
  <div class='botãoexp'>
<button (click)='adcionarexper()'>Adiconar Expêriencia </button>
  </div>
    <ul>
      <div *ngFor="let expe of exper" class='tudo3'>
      <div class='esquerda4'>
        <div class='cargo'>Cargo</div>
        <div><input class='inputcar'></div>
      </div>
      <div class='direita3'>
      <div  class='empresa'>Empresa</div>
     <div><input class='inputemp'></div>
    </div>
     <br>
     <div class='esquerda5'>
     <div class='descrição'>Descrição</div>
      <div><input class='inputdesc'></div>
    </div>
      <div class='direita4'>
        <div class='inicio'>Inicio</div>
      <div><input type='text' matInput mask=" d0/M0/0000" class='inputini'></div>
      </div>
      <div class='direita5'>
        <div class='fim'>Fim</div>
      <div><input type='text' matInput mask=" d0/M0/0000" class='inputfim'></div>
    </div>
      <br>
      <br>
      <div><button (click)='removerexper()' class='remover'>Remover</button></div>
    </div>

    </ul>
    <br>
    <br>
  </form>
</mat-card>
</html>
